<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--"Mobile-first"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MetaBootstrap -->
    <link rel="stylesheet" type="text/css" href="{{assets}}/css/theme3.css" media="all">
    <link rel="stylesheet" type="text/css" href="//www.metabootstrap.com/css/meta-bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//www.bittitan.com/css/bittitan-icons.css">
    <link rel="stylesheet" type="text/css" href="//www.metabootstrap.com/css/style.css" media="all">

    <!-- MetaBootstrap Admin core stylesheet -->
    <link rel="stylesheet" href="{{assets}}/css/css/main.min.css">

    <!-- metisMenu stylesheet -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/1.1.3/metisMenu.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">

    <link rel="stylesheet" href="{{assets}}/css/style.css">

    <style>
        * {
            -webkit-backface-visibility: none;
        }
        body {
            margin: 0 !important;
            padding-top: 0;
        }
        #content {
            margin-bottom: -21px !important;
        }
        #content > div {
            min-height: 100vh;
        }
        #left {
            position: fixed;
            height: 100vh;
            background: #212635;
            top: 50px;
            overflow-y: auto;
        }
        #right {
            right: 0;
            top: 50px;
            padding: 20px 15px;
            width: 300px;
        }
        #content {
            padding-top: 50px;
            /*transition: all 300ms ease-in-out;*/
        }
        .navbar-collapsed #left,
        .navbar-collapsed #right,
        .navbar-collapsed #content {
            top: 0;
            padding-top: 0;
        }
        #wrap, #content {
            background: #F1F2F7;
        }
        #right,
        #left, .lefty{
            display: none;
        }
        @media (min-width: 1024px) {
            #right,
            #left, .lefty {
                display: block;
            }
            #right {
                padding-left: 0;
            }
            .has-right #content {
                margin-right: 300px;
            }
            .has-left #content {
                margin-left: 250px;
            }
        }
        .navbar-brand img {
            padding: 5px 0;
        }
        .accordion .list-group-item {
            background: #f3f3f3;
            padding: 0 15px;
            transition: all 300ms ease-in-out;
        }
        .accordion .list-group-item hr,
        .accordion .list-group-item .btn {
            display: none;
        }
        .accordion .list-group-item.open {
            background: #fff;
            padding: 10px 15px;
        }
        .accordion .list-group-item.open header hr{
            display: block;
        }
        .accordion .list-group-item.open .btn {
            display: inline;
        }
        .accordion header {
            cursor: pointer;
        }
        .expander {
            display: none;
        }
        .expander-pin i {
            opacity: 0.25;
        }
        .expander-pin i.active {
            opacity: 0.75;
        }
        #menu.projects li a,
        #menu.projects li a div > div {
            width: 245px;
            margin-right: 5px;
            padding-right: 8px;
        }
        #menu.projects li a small {
            display: block;
        }
        #menu.projects li a small div {
            width: 174px;
            display: inline-block;
            position: relative;
            top: 6px;
            margin-top: -4px;
        }
        #menu.projects li a .util {
            display: none;
        }
        #menu.projects li.active a .util {
            display: inline;
        }
        #menu.projects li a .lb {
            padding: 0 3px;
            background: rgba(255,255,255,0.32);
            color: #303A45;
            border-radius: 3px;
        }
        #menu.projects li:hover a .lb {
            background: rgba(255,255,255,0.45);
        }
        #menu.projects li.tab-project.active,
        #menu.projects li.tab-project:hover {
            border-left: 3px solid rgba(255,255,255,0.32);
        }
        .context-panel {
            overflow-y: scroll;
        }
        .context-panel .body {
            padding-bottom: 50px;
        }
        .context-panel .body > .footer {
            left: 0;
            position: fixed;
            width: 50%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .context-panel {
            overflow-y: scroll;
        }
        .context-panel .body {
            padding-bottom: 50px;
        }
        .context-panel .body > .footer {
            left: 0;
            position: fixed;
            width: 50%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .context-panel {
            overflow-y: scroll;
        }
        .context-panel .body {
            padding-bottom: 50px;
        }
        .context-panel .body > .footer {
            left: 0;
            position: fixed;
            width: 50%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .no-border {
            border: 0;
        }

        .navbar-fixed-second .text {
            display: none;
        }
        @media (min-width: 1024px) {
            .navbar-fixed-second .text {
                display: inline;
            }
        }

        .expander-pin i {
            opacity: 0.25;
        }
        .expander-pin i.active {
            opacity: 0.75;
        }
        .expander-pin i {
            opacity: 0.25;
        }
        .expander-pin i.active {
            opacity: 0.75;
        }
        .expander-pin i {
            opacity: 0.25;
        }
        .expander-pin i.active {
            opacity: 0.75;
        }
        .expander-pin i {
            opacity: 0.25;
        }
        .expander-pin i.active {
            opacity: 0.75;
        }
        #content {
            white-space: inherit;
        }
        a.btn-primary,
        a.btn-primary:hover {
            color: #eee;
        }
        #content {
            white-space: inherit;
        }
        a.btn-primary,
        a.btn-primary:hover {
            color: #eee;
        }
        .nudge-down-1 {
            position: relative;
            top: 1px;
        }

        .btn-input {
            padding: 11px 16px;
            font-size: 14px;
            /* margin-left: 0 !important; */
            border: 1px solid #cccccc;
            color: #777;
        }
        @media (max-width:768px) {
            .form-horizontal .control-label {
                padding-bottom: 2px !important;
            }
        }
        /*.accordion .list-group-item.errors {*/
        /*background: #FFDED8;*/
        /*color: #888;*/
        /*}*/
        /*.accordion .list-group-item.valid {*/
        /*background: #ECFFE1;*/
        /*}*/
        /*.accordion .list-group-item.errors h4::after {*/
        /*display: inline;*/
        /*font: normal normal normal 14px/1 FontAwesome;*/
        /*content: "\f06a";*/
        /*padding-left: 10px;*/
        /*font-size: 19px;*/
        /*}*/
        /*span.error {*/
        /*display: block;*/
        /*margin-top: 1px;*/
        /*padding: 0 10px;*/
        /*background: #FFDED8;*/
        /*color: #555;*/
        /*}*/
        /*input.error,*/
        /*select.error {*/
        /*border-color: #FFDED8;*/
        /*color: #222;*/
        /*}*/
        span.error {
            display: none;
        }
        .admin-creds,
        .admin-creds-2,
        hr.admin-creds,
        hr.admin-creds-2 {
            display: none;
        }

        #content {
            white-space: inherit;
        }
        a.btn-primary,
        a.btn-primary:hover {
            color: #eee;
        }
        #content {
            white-space: inherit;
        }
        a.btn-primary,
        a.btn-primary:hover {
            color: #eee;
        }
        .category-tag {
            padding: 4px 7px;
            cursor: pointer;
        }
        .tag-0 {
            color: #ccc;
        }
        .tag-1 {
            color: #f63723 !important;
        }
        .tag-2 {
            color: #80b856 !important;
        }
        .tag-3 {
            color: #4ba3ff !important;
        }
        .tag-4 {
            color: #ffa62f !important;
        }
        .tag-5 {
            color: #5254a3 !important;
        }
        .tag-6 {
            color: #00cca3 !important;
        }

        #content {
            white-space: inherit;
        }
        a.btn-primary,
        a.btn-primary:hover {
            color: #eee;
        }
        .hipaa {
            cursor:pointer;
        }
        #content {
            white-space: inherit;
        }
        a.btn-primary,
        a.btn-primary:hover {
            color: #eee;
        }
        .btn-xs-inline {
            margin-top: -4px;
            position: relative;
            top: 2px;
        }
        a.text-clouds:hover {
            color: #ccc;
        }
        .nudge-up-5 {
            position: relative;
            top: -5px;
        }
        .table-inline-button {
            padding: 2px 3px;
        }
        .checkbox-adjust label {
            margin: 0;
            padding: 0;
            top: 1px;
            left: -2px;
        }
        .checkbox-adjust input[type=checkbox] {
            margin-left: -2px;
        }
        th.checkbox-adjust input[type=checkbox] {
            margin-top: -15px;
        }
        .nudge-left-1 {
            position: relative;
            left: -1px;
        }
        .nudge-down-7 {
            position: relative;
            top: 7px;
        }
        .nudge-down-3 {
            position: relative;
            top: 3px;
        }
        .width-78 {
            width: 78px;
        }
        .height-30 {
            height: 30px;
        }
        .pl-2px {
            padding-left: 2px;
        }
        .panel-borders {
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
        }
        .remove-gutters {
            margin-left: -15px;
            margin-right: -15px;
        }
        .inner-navbar-clear-inverse {
            color: #fff;
            margin-top: 3px;
            background: transparent;
            border: 0;
        }
        .inner-navbar-clear-btn {
            margin-top: 1px;
            border-color: transparent !important;
        }
        .navbar-fixed-top {
            z-index: 9999999;
        }
        .toggle-menu {
          padding: 2px 0;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
  <script src="assets/lib/html5shiv/html5shiv.js"></script>
  <script src="assets/lib/respond/respond.min.js"></script>
    <![endif]-->

    <!--Modernizr-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- Footer Scripts -->

    <!--jQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

    <!--Bootstrap -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- MetisMenu -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/1.1.3/metisMenu.min.js"></script>

    <!-- Screenfull -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/screenfull.js/2.0.0/screenfull.min.js"></script>

    <!-- MetaBootstrap core scripts -->
    <script src="{{assets}}/css/js/core.min.js"></script>

    <!-- MetaBootstrap demo scripts -->
    <script src="{{assets}}/css/js/app.js"></script>

    <!-- jQuery UI (for Selectable) -->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('body').addClass('fade-in');
            $('body').attr('style', '');
            $('.nav-search input').focus(function () {
                $('.nav-search').addClass('open');
            });
            $('.nav-search .fa-search').click(function () {
                $('.nav-search').addClass('open');
                $('.nav-search input').focus();
            });
            $('.nav-search input').blur(function () {
                $('.nav-search').removeClass('open');
            });

//            $('.live-chat *').mousedown(function () {
//                $('.live-chat').toggleClass('open');
//            });
//
//            $('.expander, .toggle-menu, .expander-pin, #menu > .nav-header').click(function () {
//                $('.toggle-menu').toggleClass('active');
//                $('#left').toggleClass('open');
//            });

            $('i').delegate('', 'click', function () {
                var $this = $(this);

                if ($this.hasClass('i-sort')) {
                    $this.removeClass('i-sort').addClass('i-sort-asc');
                } else if ($this.hasClass('i-sort-asc')) {
                    $this.removeClass('i-sort-asc').addClass('i-sort-desc');
                } else if ($this.hasClass('i-sort-desc')) {
                    $this.removeClass('i-sort-desc').addClass('i-sort');
                }
            });







            $(window).unload(function () {
                $('body').removeClass('fade-in');
            });

            $('#checkbox-master').click(function () {
                if ($('#checkbox-master').is(':checked')) {
                    $('input[type=checkbox]').prop('checked', true);
                } else {
                    $('input[type=checkbox]').prop('checked', false);
                }
            });

            $("#selectable").bind("contextmenu", function(event) {
                event.preventDefault();
                $('.custom-menu').show().css({top: event.pageY + "px", left: event.pageX + "px"});
            });

            $("<div class='custom-menu'>" +
                    "<small class='strong'>MENU</small>" +
                    "<a href='#'><i class='i-play'></i> &nbsp;Trial Migration</a>" +
                    "<a href='#'><i class='i-play'></i> &nbsp;Pre-Stage Migration</a>" +
                    "<a href='#'><i class='i-play'></i> &nbsp;Full Migration</a>" +
                    "<a href='#'><i class='i-creds'></i> &nbsp;Verify Credentials</a>" +
                    "<a href='#'><i class='i-play'></i> &nbsp;Retry Errors</a>" +
                    "<div class='row-divider'></div>" +
                    "<a href='#'><i class='i-pause'></i> &nbsp;Pause</a>" +
                    "<a href='#'><i class='i-trash'></i> &nbsp;Delete</a>" +
                    "<a href='#'><i class='i-reset'></i> &nbsp;Reset</a>" +
                    "<div class='row-divider'></div>" +
                    "<a href='#'><i class='i-move'></i> &nbsp;Change Project</a>" +
                    "<a href='#'><i class='i-creds'></i> &nbsp;Clear Credentials</a>" +
                    "<div class='row-divider'></div>" +
                    "<a href=''><i class='i-refresh'></i> &nbsp;Refresh</a>" +
                    "</div>").appendTo("body");

            $('*').click(function () {
                $('.custom-menu').hide();
            });

            $("#selectable").selectable({
                selecting: function( event, ui ) {
                    $('input[type=checkbox]').prop('checked', false);
                },
                stop: function() {
                    $( ".ui-selected", this ).each(function() {
                        $(this).find('input[type=checkbox]').prop('checked', true);
                    });
                }
            });

            $('.custom-menu a').click(function () {
                $('.underlay.one').fadeIn();
                $('.context-panel.left').addClass('open').css('opacity', 1);
                $('body').css('overflow-y', 'hidden');
            });
            $('.help-modal').click(function () {
                $('.underlay.two').fadeIn();
                $('.context-panel.right.errors').addClass('open').css('opacity', 1);
                $('body').css('overflow-y', 'hidden');
            });
            $('.kb-modal').click(function () {
                $('.underlay.two').fadeIn();
                $('.context-panel.kb').addClass('open').css('opacity', 1);
                $('body').css('overflow-y', 'hidden');
            });
            $('.underlay, .context-panel a.btn.close-modal').click(function () {
                $('.underlay').fadeOut();
                $('.context-panel').removeClass('open').css('opacity', 0);
                $('body').css('overflow-y', 'initial');
            });

            $('.accordion .list-group-item').click(function () {
                $('.accordion .list-group-item').removeClass('open');
                $(this).addClass('open');
            });



            var $table = $('table.headstuck').first();

            if ($table.length) {
                console.log($table)
                $table.clone().addClass('floating-table-header').css('position', 'fixed').css('top', '43px')
                        .insertAfter('table.headstuck').find('tbody').remove();
                $table.parent().css('position', 'relative');

                setInterval(function () {
                    $('.floating-table-header').css('left', $table.offset().left + 'px').css('width', $table.width() + 'px');
                    // if (scrollTop > (tableOffsetTop + 70)) $('.floating-table-header').show();
                }, 16);
            }

            // var tableOffsetTop = $table.offset().top;

            $(window).scroll(function () {
                var scrollTop = $(window).scrollTop();

                if (scrollTop === 0) {
                    $('body').removeClass('navbar-collapsed');
                } else {
                    $('body').addClass('navbar-collapsed');
                }

                if (scrollTop > 120) {
                    $('.floating-table-header').show();
                } else {
                    $('.floating-table-header').hide();
                }
            });

        });
    </script>
</head>
<body class="{{site.brand}}{{#if inner-navbar}} has-second-navbar{{/if}}{{#if left}} has-left{{/if}}{{#if right}} has-right{{/if}}">

{{!--{{#if left-nav}}
<!-- .lefty (hover affordance) -->
<!--<div class="lefty"></div>-->
<!-- /.lefty -->
{{/if}}--}}

<!-- #top -->
<div id="top">
  {{#if inner-navbar}}
    {{> inner-navbar }}
  {{/if}}
  {{#if inner-navbar-2}}
    {{> inner-navbar-2 }}
  {{/if}}
  {{> navbar-fixed-top }}
</div>
<!-- /#top -->

<div id="wrap">

  {{#if left-nav}}
    <!-- #left -->
    <div id="left" class="{{#if left-open}}open{{/if}}">
        {{#if project}}
          {{> left-nav-project }}
        {{/if}}

      {{#if default}}
        {{> left-nav }}
      {{/if}}

      {{#if createProject}}
        {{> left-nav-create-project }}
      {{/if}}

      {{#if purchaseLicenses}}
        {{> left-nav-purchase-licenses }}
      {{/if}}

      {{#if support}}
        {{> left-nav-support }}
      {{/if}}
    </div>
    <!-- /#left -->
  {{/if}}

    <!-- #content -->
    <div id="content">
        <!-- inner -->
        <div class="bg-light lter">

            <!-- Page Content -->
            {{> body }}
            <!-- /Page Content -->

        </div>
        <!-- /inner -->
    </div>
    <!-- /#content -->

  {{# if right}}
    <!-- #right -->
    <div id="right" class="bg-light lter">
      {{!-- {{> body }} --}}
        {{> create-project-right }}
    </div>
    <!-- /#right -->
  {{/if}}

</div>
<!-- /#wrap -->

{{!-- {{> footer }} --}}

{{> help-modal }}

{{!--{{> live-chat }}--}}

{{> context-panel }}

{{> context-panel-right }}
{{> context-panel-kb }}

</body>
</html>
